.footer {
    border-top: var(--white-primary) solid 1px;
    text-align: center;
}

.footer-content {
    padding: 1rem var(--outer-component-padding);
}

.footer-nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: space-evenly;
    list-style: none;
}

.footer-nav ul li {
    margin-left: 1rem;
}

.footer-nav ul li a {
    color: var(--white-primary);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

.footer-nav ul li a.active {
    color: var(--gold-secondary);
}

.footer-nav ul li a:hover {
    color: var(--gold-secondary);
}

.footer .info-bar {
    align-items: center;
    background-color: var(--blue-primary);
    display: flex;
    justify-content: center;
    font-size: .75rem;
    padding: .5rem;
}

.footer .info-bar a {
    color: var(--white-primary);
    padding: 0 1rem;
}

/* Tablets and small laptops (769px - 1024px) */
@media (min-width: 769px) {
    .footer-nav ul {
        flex-direction: row;
        row-gap: 0;
    }
}