.cart-modal {
    background-color: transparent;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.cart-modal-content {
    background-color: var(--white-primary);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.cart-modal-header {
    border-bottom: solid 1px var(--blue-primary);
    border-top: solid 1px var(--blue-primary);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cart-modal-close-btn {
    background-color: transparent;
    border: none;
    color: var(--blue-primary);
    cursor: pointer;
}

.cart-modal-close-btn:hover {
    color: var(--gold-secondary);
}

.cart-modal-close-btn svg {
    display: block;
}

.cart-modal-header h2 {
    color: var(--blue-primary);
    font-family: var(--font-primary);
    font-size: 1.25rem;
    text-transform: none;
}

.cart-modal-body {
    flex: 1;
    padding: 1rem;
}

.cart-modal-body ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
    row-gap: 1rem;
}

.cart-modal-body ul li {
    display: flex;
}

.cart-modal-body ul li div:nth-of-type(1) {
    width: 2rem;
}

.cart-modal-body ul li div:nth-of-type(3) {
    justify-self: end;
}

.cart-modal-body-item {
    flex: 1;
}

.cart-modal-footer {
    border-bottom: solid 1px var(--blue-primary);
    border-top: solid 1px var(--blue-primary);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.cart-modal-footer div {
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
}

.cart-modal-footer div:last-of-type {
    padding: .5rem 1rem;
}

.cart-modal-footer button {
    background-color: var(--blue-primary);
    border-radius: 2rem;
    color: var(--white-primary);
    cursor: pointer;
    display: flex;
    font-family: var(--font-primary);
    font-size: 1rem;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.cart-modal-footer button:hover {
    color: var(--gold-secondary);
}

/* Tablets and small laptops (769px - 1024px) */
@media (min-width: 769px) {
    .cart-modal-content {
        left: unset;
        right: 0;
        width: 30vw;
    }
}
